<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Open Graph locale -->
{%- if page.lang -%}
<meta property="og:locale" content="{{ page.lang | replace: '-', '_' }}" />
{%- elsif site.lang -%}
<meta property="og:locale" content="{{ site.lang | replace: '-', '_' }}" />
{%- else -%}
<meta property="og:locale" content="en_US" />
{%- endif -%}

<!-- Open Graph site name -->
{%- if page.permalink == '/' -%}
  {%- if page.title -%}
<meta content="{{ site.heading }} - {{ page.title }}" property="og:site_name" />
  {%- else -%}
<meta content="{{ site.heading }}" property="og:site_name" />
  {%- endif -%}
{%- else -%}
<meta content="{{ page.title }}" property="og:site_name" />
{%- endif -%}

<!-- Description -->
{%- if page.description -%}
<meta content="{{ page.description }}" property="og:description" name="description">
{%- else -%}
<meta content="{{ site.content }}" property="og:tagline" name="tagline">
<meta content="{{ site.description | strip_html | xml_escape | truncate: 200 }}" property="og:description" name="description">
{%- endif -%}

<!-- Keywords -->
{%- if page.keywords -%}
<meta content="{{ page.keywords }}" property="keywords">
{%- elsif site.keywords -%}
<meta content="{{ site.keywords }}" property="keywords">
{%- else -%}
{%- endif -%}

<!-- Author -->
{%- if page.author -%}
<meta content="{{ page.author }}" property="article:author">
{%- elsif site.author -%}
<meta content="{{ site.author }}" property="article:author">
{%- else -%}
<meta content="{{ site.domain_url }}/about" property="article:author">
{%- endif -%}

<!-- Open Graph Image -->
{%- if page.ogimg -%}
<meta property="og:image" content="{{ page.ogimg }}">
<link rel="image_src" href="{{ page.ogimg }}">
{%- else -%}
<meta property="og:image" content="{{ site.domain_url }}{{ site.ogimg }}">
<link rel="image_src" href="{{ site.domain_url }}{{ site.ogimg }}">
{%- endif -%}

<!-- Open Graph Title and Type -->
{%- if page.title -%}
{%- if page.permalink == '/' -%}
<meta content="{{ site.heading }} - {{ page.title }}" property="og:title">
{%- else -%}
<meta content="{{ page.title }}" property="og:title">
{%- endif -%}
<meta content="article" property="og:type">
{%- else -%}
{%- if page.permalink == '/' -%}
<meta content="{{ site.heading }}" property="og:title">
{%- endif -%}
<meta content="website" property="og:type">
{%- endif -%}

<!-- Open Graph URL -->
<meta content="{{ page.url | absolute_url }}" property="og:url">

<!-- Article metadata -->
{%- if page.date -%}
  {%- if page.last_modified_at and page.last_modified_at != page.date -%}
    {% assign pub_date = page.date | date: "%Y-%m-%d" %}
    {% assign upd_date = page.last_modified_at | date: "%Y-%m-%d" %}
  {%- else -%}
    {% assign upd_date = pub_date %}
  {%- endif -%}
<meta property="article:published_time" content="{{ page.date | date_offset: site.timezone | date_to_xmlschema }}">
  {% if page.last_modified_at and page.last_modified_at != page.date and pub_date != upd_date %}
<meta property="article:modified_time" content="{{ page.last_modified_at | date_offset: site.timezone | date_to_xmlschema }}">
  {%- endif -%}
{%- endif -%}
{%- if page.categories -%}
  {%- for category in page.categories -%}
<meta property="article:section" content="{{ category }}" />
  {%- endfor -%}
{%- endif -%}
{%- if page.tags -%}
  {%- for tag in page.tags -%}
<meta property="article:tag" content="{{ tag }}" />
  {%- endfor -%}
{%- endif -%}

{%- if page.noindex -%}
<!-- Indexing rules -->
{%- if page.noindex == "follow" -%}
<meta name="robots" content="noindex">
{%- elsif page.noindex == "nofollow" -%}
<meta name="robots" content="noindex, nofollow">
{%- endif -%}
{%- endif -%}

<!-- Title -->
{%- if page.permalink == '/' -%}
  {%- if page.title -%}
<title>{{site.heading}} - {{page.title}}</title>
  {%- else -%}
<title>{{site.heading}}</title>
  {%- endif -%}
{%- elsif page.title -%}
<title>{{page.title}} - {{site.heading}}</title>
{%- elsif page.permalink == '/404.html' -%}
<title>There's been a glitch...</title>
{%- else -%}
{%- endif -%}

{%- assign redirect_url = page.redirect | default: '' | strip -%}
{%- if redirect_url != '' -%}
    {%- if redirect_url contains "://" -%}
        <!-- Absolute URL -->
    {%- else -%}
        {%- assign redirect_url = redirect_url | prepend: site.domain_url -%}
    {%- endif -%}
    <!-- Permanent redirect -->
    <meta http-equiv="refresh" content="0; url={{ redirect_url }}">
    <link rel="canonical" href="{{ redirect_url }}" />
{%- else -%}
    <link rel="canonical" href="{{ page.url | absolute_url }}" />
{%- endif -%}

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
{%- if site.twitter -%}
<meta name="twitter:site" content="@{{ site.twitter }}">
<meta name="twitter:creator" content="@{{ site.twitter }}">
{%- endif -%}
{%- if page.title -%}
{%- if page.permalink == '/' -%}
<meta name="twitter:title" content="{{ site.heading }} - {{ page.title }}">
{%- else -%}
<meta name="twitter:title" content="{{ page.title }}">
{%- endif -%}
{% else %}
{%- if page.permalink == '/' -%}
<meta name="twitter:title" content="{{ site.heading }}">
{%- else -%}
<meta name="twitter:title" content="{{ site.heading }}">
{%- endif -%}
{%- endif -%}
{% assign page_content = page.content | strip_html | xml_escape | truncate: 180 %}
{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}">
{% elsif page_content.size > 50 %}
<meta name="twitter:description" content="{{ page_content }}">
{% else %}
<meta name="twitter:description" content="{{ site.description | strip_html | xml_escape | truncate: 180 }}">
{% endif %}
{%- if page.ogimg -%}
<meta property="twitter:image" content="{{ page.ogimg }}">
{%- else -%}
<meta property="twitter:image" content="{{ site.domain_url }}{{ site.ogimg }}">
{%- endif -%}

{%- if site.link and site.link.mastodon -%}
    {% for mastodon_link in site.link.mastodon %}
        <link rel="me" href="{{ mastodon_link }}">
    {% endfor %}
{%- endif -%}
